<div class="box">
  <ul>
    <li><button type="button" class="button">Submit</button></li>
  </ul>
</div>

<div class="list-div">
  <h2 class ="list-title">List</h2>
<ul class="people-list">

</ul>
</div>
